<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>QLNS_Sample</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>com.qlynhansu.Controller.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/CheckLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetListEmployeeServlet</display-name>
    <servlet-name>GetListEmployeeServlet</servlet-name>
    <servlet-class>com.qlynhansu.Controller.GetListEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetListEmployeeServlet</servlet-name>
    <url-pattern>/GetListEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetListDepartmentServlet</display-name>
    <servlet-name>GetListDepartmentServlet</servlet-name>
    <servlet-class>com.qlynhansu.Controller.GetListDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetListDepartmentServlet</servlet-name>
    <url-pattern>/GetListDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.qlynhansu.Controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveEmployeeServlet</display-name>
    <servlet-name>RemoveEmployeeServlet</servlet-name>
    <servlet-class>com.qlynhansu.Controller.RemoveEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveEmployeeServlet</servlet-name>
    <url-pattern>/RemoveEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServlet</display-name>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.qlynhansu.Controller.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpByDpmServlet</display-name>
    <servlet-name>EmpByDpmServlet</servlet-name>
    <servlet-class>com.qlynhansu.Controller.EmpByDpmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpByDpmServlet</servlet-name>
    <url-pattern>/EmpByDpmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NavigationServlet</display-name>
    <servlet-name>NavigationServlet</servlet-name>
    <servlet-class>com.qlynhansu.Controller.NavigationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NavigationServlet</servlet-name>
    <url-pattern>/NavigationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertEmployeeServlet</display-name>
    <servlet-name>InsertEmployeeServlet</servlet-name>
    <servlet-class>com.qlynhansu.Controller.InsertEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertEmployeeServlet</servlet-name>
    <url-pattern>/InsertEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDeptServlet</display-name>
    <servlet-name>UpdateDeptServlet</servlet-name>
    <servlet-class>com.qlynhansu.Controller.UpdateDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDeptServlet</servlet-name>
    <url-pattern>/UpdateDeptServlet</url-pattern>
  </servlet-mapping>
</web-app>